            <nav>
                <div class="nav-wrapper">
                  <a href="/" class="brand-logo">Back.log</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/about">About</a></li>
                    <li><a href="/games">My Games</a></li>
                    <li><a href="/support">Support</a></li>
                    <li>
                        <% if (user) { %>
                            <a href="/logout" class="cta"><button>Log Out</button></a>
                        <% } else { %> 
                            <a href="/auth/google" class="cta"><button>Sign Up</button></a>
                       <% } %>
                    </li>
                  </ul>
                </div>
              </nav>
       