<a href="/games"><h1>Back.log</h1></a>
        <nav>
            <ul class="nav-links">
            <li>
                <a href="">About</a>
            </li>  
            <li>
                <a href="">My Games</a>
            </li>  
            <li>
                <a href="">My Consoles</a>
            </li>
            </ul>
           
        </nav>
        <% if (user) { %>
            <a href="/logout" class="cta"><button>Log Out</button></a>
        <% } else { %> 
            <a href="/auth/google" class="cta"><button>Sign Up</button></a>
       <% } %>
       