<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs')%>
    </header>
 <div class="splash">
    <h3>Take control of your games.</h3>
    <p class="get-started">You can never have too many games. With Backlog, you will be able to track your collection. </p>
    <br><a href="/auth/google"><button class="splash-btn">Get Started</button></a>
 </div>

 <%- include('./partials/footer.ejs')%>
</body>
<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1580234811497-9df7fd2f357e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGdhbWluZyUyMGNvbnRyb2xsZXJ8ZW58MHx8MHx8&w=1000&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100%;
        display: block;
    }
 </style>
</html>