<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" class="css">
    <title>Backlog</title>
</head>
<nav>
<h1>Backlog</h1>

<h2>Sign In</h2>
</nav>
<body>
<main>
    <form action="/games" method="POST">
        Title: <input type="text" name="title"><br>
        Console: <input type="text" name="console"><br>
        Release Date: <input type="date" name="releaseDate"><br>
        Box Art URL: <input type="text" name="coverURL"><br>
        Your Review: <input type="text" name="review"><br>
        I've Beaten This Game: <input type="checkbox" name="hasBeaten"><br>
        <input type="submit" value="Add Game To Collection">
    </form>
</main>
</div>
</body>
</html>