* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgb(60, 59, 59); */
}

/* header {
    padding-left: 10px;
    padding-right: 10px;
} */

main {
    margin: 15px;
}

nav {
    background-color: black;
}

h1, li, a, button {
    font-family: 'Fira Sans', sans-serif;
    color: #edf0f1;
    text-decoration: none;
}

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10px;
    margin-bottom: 20px;
    background-color: black;
} */

.logo {
    cursor: pointer;
}

/* .nav-links {
    list-style: none;
} */

/* .nav-links li {
    display: inline-block;
    padding: 0px 20px;
} */

.nav-links li a {
    transition: all 0.3s ease 0s ;
    color: white;
}

ul li a:hover {
    color: #9151c9;
}

button {
    padding: 9px 25px;
    background-color: rgba(145, 81, 201, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s ;
}

button:hover {
    background-color: rgba(145,81,201, 0.8);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4%;
}

/* index css */

.welcome {
    display: flex;
    justify-content: space-between;
}

body a {
    color: black;
}

body button a {
    color: white;
}

/* .collection {
    display: flex;
    flex-direction: row;
} */

#gamecard {
    height:auto;
    width:auto;
    background-color: lightgray;
    margin: 10px;
}

.card {
    margin: 10px;
}


.show-cover {
    max-height: 400px;
}

#cover {
    max-width: 225px;
    max-height: 350px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

.game-info {
    background-color: aqua;
    display: flex;
    flex-direction: column-reverse;
}

.game-show > ul {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.showbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.z-depth-5 {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    margin-top: 1opx;
}

footer > a {
    color: white;
}
.return {
    text-align: center;
    margin: 5px;
}
.delete-edit {
    display: flex;
    flex-direction: row;
}

.splash {
    width: 50%;
    font-family: 'Bowlby One SC', cursive;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 100px;

}

.get-started {
    font-family: 'Fira Sans', sans-serif;
    font-size: large;
}

.splash-btn {
    background-color: black;
}

.brand-logo {
    margin-left: 12px;
}

.welcome {
   display: flex;
   flex-direction: column;
   font-family: 'Fira Sans', sans-serif;
}

.card-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#ryan {
    margin-left: 5px;
    margin-right: 5px;
}

.mobile-demo {
    color: white;
}

.index-title {
    text-align: center;
}

.page-footer {
    background-color: black;
}

.row {
    background-color: black;
}

.container {
    background-color: black;
}

.footer-logo {
    height: 40px;
    width: 40px;
}