/* body {
    background-color: black;
} */
* {
    font-family: 'Fira Sans', sans-serif;
}
nav {
    background-color: black;
    color: white;
}

body {
    background-color: gainsboro;
    color: black;
}