<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs')%>

    </header>
<main>
    <form action="/games" method="POST">
        Title: <input type="text" name="title"><br>
        Console: <input type="text" name="console"><br>
        Release Date: <input type="date" name="releaseDate"><br>
        Box Art URL: <input type="text" name="coverURL"><br>
        Your Review: <textarea name="review">Enter your game review here.</textarea><br>
        <!-- <p>
            <label>
              <input type="checkbox" class="filled-in" name="hasCompleted" />
              <span>Game Completed</span>
            </label>
          </p> -->
        Game Completed: <input type="text" placeholder="Yes or No" name="hasCompleted">
          <br>
        <input type="submit" value="Add Game To Collection">
    </form>
</main>
</div>
</body>
</html>